#skills {
    position: relative;
    background-color: var(--wp--preset--color--bg-hero);
    overflow: hidden;

    & .content {
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;

        & .skill-card,
        & p {
            display: flex;
            align-items: center;
            gap: 7px;
            max-height: 28px;
            overflow: hidden;
            transition: color .3s ease-in-out;
        }

        & .skill-card:hover,
        & p:hover {
            color: var(--wp--preset--color--white);
        }

        & .skill-card.woocommerce {
            position: relative;
            top: 3px;
        }
    }
}