::-webkit-search-cancel-button {
    display: none;
}

/* LABEL */

p label {
    font-size: var(--wp--preset--font-size--medium);
    display: inline-block;
    margin-bottom: 24px;
}

/* INPUTS */

.wpcf7-form-control-wrap {
    margin-top: 5px;
    display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  box-shadow: 0 0 0px 1000px var(--wp--preset--color--bg-input) inset !important;
  -webkit-text-fill-color: var(--wp--preset--color--contrast);  
  transition: border-color .3s ease-in-out;
}

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="hidden"]):not([type="range"]):not([type="color"]),
textarea,
select {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-family: var(--wp--preset--font-family--manrope);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: var(--wp--preset--color--contrast);
    background-color: var(--wp--preset--color--bg-input);
    background-clip: padding-box;
    border: 1px solid var(--wp--preset--color--br-input);
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="hidden"]):not([type="range"]):not([type="color"]):hover,
textarea:hover,
select:hover {
    border-color: var(--wp--preset--color--br-input-hover);
}

input:not([type="submit"]):not([type="button"]):not([type="checkbox"]):not([type="radio"]):not([type="file"]):not([type="hidden"]):not([type="range"]):not([type="color"]):focus,
textarea:focus,
select:focus {
    color: var(--wp--preset--color--white);
    border-color: var(--wp--preset--color--br-input-focus);
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(63, 185, 80, .25);
}

::placeholder {
    font-family: var(--wp--preset--font-family--manrope);
    font-size: var(--wp--preset--font-size--medium);
    color: var(--icon--strong);
}

select,
select.form-control {
    background-image: url('../../assets/icons/select-image.svg');
    background-repeat: no-repeat;
    background-size: 5px 10px;
    background-position: right .75rem center;
    padding-right: calc(.75rem * 2 + 5px);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 15px;
}

textarea {
    height: calc(1.5em * 4 + 1rem);
    line-height: 1.5;
}

/* BUTTONS */

.wpcf7-submit {
    display: inline-block;
    position: relative;
    padding: 6px 16px;
    border-radius: 4px;
    border: 1px solid var(--wp--preset--color--green);
    background-color: var(--wp--preset--color--green);
    color: var(--wp--preset--color--base);
    font-size: var(--wp--preset--font-size--small);
    font-family: var(--wp--preset--font-family--manrope);
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .3s ease;
    background-image: linear-gradient(-60deg, transparent, transparent 40%, #ffffff44 40%, #ffffff44 60%, transparent 60% 60%, transparent 100%);
    background-size: 200% 100%;
    background-position-x: 150%;
    background-repeat: no-repeat;
}

.wpcf7-submit:hover {
    background-position-x: -150%;
    transition: all 1s;
}

/* messages */

.wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0;
    font-size: var(--wp--preset--font-size--medium);
    margin-top: 24px;
    border: none !important;
}

.wpcf7 form.spam .wpcf7-response-output {
    color: #f56e28;
}

.wpcf7 form.failed .wpcf7-response-output, 
.wpcf7 form.aborted .wpcf7-response-output {
    color: #dc3232;
}